<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Site#1</title>
	<link rel="stylesheet" href="css/main.css">
</head>
<body>
<header>
<div class="container">
<div class="heading clearfix">
	<img src="img/logo.png" alt="" class="logo">
	<nav>
		<ul class="menu">
			<li>
			  <a href="#">Home</a>
			</li>
			<li>
			  <a href="#">Services</a>
			</li>
			<li>
			  <a href="#">Portfolio</a>
			</li>
			<li>
			  <a href="#">About</a>
			</li>
			<li>
			  <a href="#">Contact</a>
			</li>
		</ul>
	</nav>
</div>
<div class="titles">
	<div class="titles_first">
		Welcome to Our Studio!
	</div>
	<h1>
		It's nice to Meet you
	</h1>
	<a href="#" class="button">Tell Me More</a>
</div>	
</div>	
</header>
<section id="services">
<div class="container">
	<div class="title">
		<h2>Services</h2>
		<p>Ffkfkfkkfkfkfkfkkfkfkfkfkf.</p>
	</div>
	<div class="services clearfix">
		<div class="sercices_item">
			<img src="img/icon1.png" alt="Услуга">
			<h3>E-commerce</h3>
			<p>Gkgkgkgkkgkgkkgkg.</p>
		</div>
		<div class="sercices_item">
			<img src="img/icon2.png" alt="Услуга">
			<h3>Responsive Web</h3>
			<p>Gkgkgkgkkgkgkkgkg.</p>
		</div>
		<div class="sercices_item">
			<img src="img/icon3.png" alt="Услуга">
			<h3>Web Security</h3>
			<p>Gkgkgkgkkgkgkkgkg.</p>
		</div>
	</div>
</div>	
</section>
<section id="portfolio">
<div class="container">
	<div class="title">
		<h2>
			Our portfolio
		</h2>
		<p>
			Pdjmdkdkdkdkdkdkkddd.
		</p>
	</div>
	<div class="works clearfix">
		<img src="img/img1.jpg" alt="Работы">
		<img src="img/img2.jpg" alt="Работы">
		<img src="img/img3.jpg" alt="Работы">
	</div>
</div>	
</section>
<section id="aboutus">
<div class="container">
	<div class="title">
		<h2>
			About us
		</h2>
		<p>
			Pdjmdkdkdkdkdkdkkddd.
		</p>
	</div>
	<div class="history clearfix">
		<div class="history_item">
			<div class="text">July 2010</div>
				<h4>
				Our Humble Beginnings
				</h4>
				<p class="one">Proin iaculis purus consequat sem cure 
digni ssim. Donec porttitora entum suscipit 
aenean rhoncus posuere odio in tincidunt. Proin 
iaculis purus consequat sem cure digni 
ssim. Donec porttitora entum suscipit aenean 
rhoncus posuere odio in tincidunt</p>
			
			<div class="images">
				<img src="img/about1.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="history_item">
			<div class="text">January 2011</div>
			<h4>
			Facing Startup Battles
			</h4>
			<p class="one">
			Proin iaculis purus consequat sem cure 
digni ssim. Donec porttitora entum suscipit 
aenean rhoncus posuere odio in tincidunt. Proin 
iaculis purus consequat sem cure digni 
ssim. Donec porttitora entum suscipit aenean 
rhoncus posuere odio in tincidunt	
			</p>
			<div class="images">
				<img src="img/about2.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="history_item">
			<div class="text">December 2012</div>
			<h4>
			Enter The Dark Days	
			</h4>
			<p class="one">
			Proin iaculis purus consequat sem cure 
digni ssim. Donec porttitora entum suscipit 
aenean rhoncus posuere odio in tincidunt. Proin 
iaculis purus consequat sem cure digni.	
			</p>	
			<div class="images">
				<img src="img/about3.jpg" alt="">
			</div>
		</div>
	</div>
	<div class="history_item">
			<div class="text">february 2014</div>
				<h4>Our Triumph</h4>
				<p class="one">Proin iaculis purus consequat sem cure 
digni ssim. Donec porttitora entum suscipit 
aenean rhoncus posuere odio in tincidunt. Proin 
iaculis purus consequat sem cure digni 
ssim. Donec porttitora entum suscipit aenean.
				</p>
			<div class="images">
				<img src="img/about4.jpg" alt="">
			</div>
		</div>
	</div>
</div>	
</section>
<section>
<div class="container"></div>	
</section>
<footer>
<div class="container"></div>	
</footer>
	
</body>
</html>