body {
	font-family: Arial, sans-serif;
	padding: 0;
	margin: 0;
}

.clearfix:after {
	content: '';
	display: table;
	width: 100%;
	clear: both;
}

div {
	box-sizing: border-box;
}

header {
background: url(../img/first-bg.jpg) no-repeat center top / cover;
height: 600px;
}
.container {
width: 930px;
margin: 0 auto;
}

.logo {
margin-top: 41px;
float: left;
}

nav {
float: right;
margin-top: 45px;
}

.menu {
	padding: 0;
	margin: 0;
	display: block;
}

.menu li {
  float: left;
  display: block;
  margin-right: 41px;
}

.menu a {
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
}

.titles_first {
	font-size: 40px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin-top: 170px;
}

h1 {
    font-size: 75px;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	margin: 15px;
}

.button {
	background: #fed136;
	color: #484543;
	border-radius: 3px;
	display: block;
	width: 240px;
	padding: 20px 0;
	margin: 0 auto;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 18px;
	margin-top: 50px;
	margin-bottom: 160px;
}

.title {
	padding-top: 115px;
}

.title h2 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
}

.title p {
	color: #777777;
	text-align: center;
	font-size: 16px;
	margin-top: 5px;
}

.services {
margin-top: 80px;
}

.sercices_item {
width: 270px;
float: left;
text-align: center;
}

.sercices_item h3 {
	font-size: 18px;
	margin-bottom: 5px;
}

.sercices_item p {
color: #777777
font-size: 14px;
line-height: 1.55em;
}

.sercices_item:last-child {
	float: right;
}

.sercices_item:nth-child(2) {
	margin-left: 60px;
}

#services {
	padding-bottom: 120px;
}

#portfolio {
	background: #f7f7f7;
	padding-bottom: 120px;
}

.works {
	margin-top: 70px;
}

.works img {
	float: left;
}

.works img:last-child {
	float: right;
}

.works img:nth-child(2) {
	margin-left: 29px;
}

#aboutus {
	padding-bottom: 120px;
}

.text {
	text-transform: uppercase;
	font-size: 18px;
	text-align: right;
	margin: 0;
	font-weight: bold;
	margin-top: 93px;
}

h4 {
  font-size: 18px;
  text-align: right;
  margin: 0;
  line-height: 1.55em;
  text-transform: capitalize;
}

.one {
	color: #777777;
    font-size: 14px;
    text-align: right;
    margin: 0;
}

footer {
	background: #f7f7f7;
	padding-bottom: 0;
	text-align: center;
}
.social {
	padding: 0;
	margin: 0;
	display: inline-block;
	list-style-type: none;
}
.social li {
  float: left;
  display: block;
  margin-right: 41px;

}
.social a {
	color: #000;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;

}


footer.second {
	background-color: #A2A2A2;
	max-height: 55px;
	text-align: center;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}


